body {
  background-color: white;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

html {
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: black;
}

/*Menu*/
.belka-nav {
  background-color: white;
  margin-top: -40px;
  z-index: 1301;
}

.container-nawigacja {
  float: right;
  text-align: right;
  position: relative;
  margin-left: auto;
  padding: 0;
}

.lista-menu {
  float: right;
  text-align: right;
  position: relative;
  padding: 10px;
}

.lista-menu > li > a {
  font-size: 20px;
  padding: 0px 10px;
  color: black;
  text-decoration: none;
  font-weight: 500;
}

.lista-menu > li > a:hover {
  text-decoration: underline;
  opacity: 0.8;
  transition: all 0.4s ease-in-out;
}

.logo {
  float: left;
  width: 190px;
  margin-left: 50px;
  padding: 10px;
}

.motto {
  width: 100%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #000080;
  padding-bottom: 50px;
}

nav {
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  height: 70px;
  width: 100%;
  background: transparent;
  transition: all 500ms linear;
}

nav a {
  transition: all 500ms linear;
}

nav.scrolled {
  background: #000080;
  color: white;
  min-width: 100% !important;
}

nav.scrolled a {
  color: white;
}

nav.przyklejenie {
  position: sticky;
  z-index: 1200;
}

/*slider*/

@media screen and (max-width: 768px) {
  .bg-transparent {
    background: #000 !important;
  }
}
.carousel-caption {
  padding-bottom: 0;
  padding-top: 0;
  bottom: 0;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-item {
  max-height: 600px;
  object-fit: cover;
  z-index: 1;
}

.carousel {
  top: -35px;
}
/*1 element*/
