body {
  background-color: white;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

html {
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: black;
}

/*Menu*/
.container-nawigacja {
  float: right;
  text-align: right;
  position: relative;
  margin-left: auto;
  padding: 0;
}

.lista-menu {
  float: right;
  text-align: right;
  position: relative;
  padding: 10px;
}

.lista-menu > li > a {
  font-size: 20px;
  padding: 0px 10px;
  color: black;
  text-decoration: none;
  font-weight: 500;
}

.lista-menu > li > a:hover {
  text-decoration: underline;
  opacity: 0.8;
  transition: all 0.4s ease-in-out;
}

.slogan{
  margin:0;
}

.slogan-container{
  display: flex;
  align-items: center;
  justify-content: center
}

.logo {
  float: left;
  max-width: 190px;
  margin-left: 50px;
  padding: 10px;
}

@media(max-width:1100px){
  .logo {
    float: left;
    max-width: 190px;
    min-width: 110px;
    padding: 10px;
    margin-left:0;
  }
}
@media(max-width:576px){
  .logo{
    max-width: 110px;
    min-width: 110px;
  }
  .header-info{
    font-size:18px;
    text-align:right !important;
    padding-top: 0px !important;
    margin:10px;
  }
}

.motto {
  width: 100%;
  max-height: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #000080;
  padding-bottom: 50px;
}

nav {
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  height: 70px;
  width: 100%;
  background: white;
  transition: all 500ms linear;
}

nav a {
  transition: all 500ms linear;
}

nav.scrolled {
  background: #000080;
  color: white;
  min-width: 100% !important;
}

nav.scrolled a {
  color: white;
}

nav.przyklejenie {
  position: sticky;
  z-index: 1200;
}

.bg{
  background-color: white;
  transition: all 500ms linear;
 
}

.bg.scrolled{
  background-color: #000080;
  transition: all 500ms linear;
}

.header-info{
  color:white;
  font-size:18px;
  text-align:left;
  padding-top: 15px ;
}

@media(min-width:1745px){
  .belka-nav {
    background-color: white;
    margin-top: -40px;
    z-index: 1301;
  }
  .carousel {
    top: -35px;
  }
 
}

/*slider*/

@media screen and (max-width: 768px) {
  .bg-transparent {
    background: #000 !important;
  }
}
.carousel-caption {
  padding-bottom: 0;
  padding-top: 0;
  bottom: 0;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-item {
  max-height: 600px;
  object-fit: cover;
  z-index: 1;
}

/*title-page*/
.first-block-background{
  background-color: rgb(43, 43, 43);
}
