body {
  background-color: white;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

html {
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: black;
}

/*Menu*/
.container-nawigacja {
  text-align: center;
  position: relative;
  margin-left: auto;
  padding: 0;
}

.lista-menu {
  text-align: center;
  position: relative;
  padding: 10px;
  opacity:1;
  margin-left: auto;
  margin-right: auto;
}

.lista-menu > li > a {
  font-size: 22px;
  padding: 0px 10px;
  color: black;
  text-decoration: none;
  font-weight: 500;
  opacity: 1;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  margin-left: auto;
  margin-right: auto;
}

.lista-menu > li > a:hover {
  text-decoration: underline;
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
}

 #rozwijanie {
  text-align: right;
  position:relative;
}

.slogan{
  margin:0;
}

.slogan-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  float: left;
  max-width: 150px;
  margin-left: 50px;
  padding: 10px;
}

.f-ramka{
  border:2px solid white;
  padding:5px 10px;
  border-radius:10%;
}

@media(max-width:1100px){
  .logo {
    float: left;
    max-width: 150px;
    min-width: 140px;
    padding: 10px;
    margin-left:10px;
  }
  .header-info{
    font-size:18px !important;
    margin:10px !important;
    padding:50px 10px !important;
    font-size: 20px !important;
  }

  .icon-text{
    padding: 0px 20px !important;
  }
}

@media(max-width:850px){
  .header-info{
    padding:5px !important;
    display:list-item !important;
    list-style: none;
  }
}

@media(max-width:576px){
  .logo{
    max-width: 140px;
    min-width: 140px;
    margin-left:10px;
  }
    .header-info{
      padding:2px !important;
      display:list-item !important;
      list-style: none;
      font-size:16px !important;
      margin:0;
    }
  }


.header-info{
  color:white;
  font-size:22px;
  padding:50px 20px;
  text-align: right;
  display: inline-block;
}

.header-info-container{
  text-align: right;
}

.header-info a{
  color:white;
  transition: all 0.2s ease-in ;
}

.header-info a:hover{
  color:white;
  opacity:0.6;
}

.motto {
  width: 100%;
  max-height: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #000080;
  padding-bottom: 50px;
}

nav {
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  height: 70px;
  width: 100%;
  background: white;
  transition: all 500ms linear;
}

nav a {
  transition: all 500ms linear;
}

nav.scrolled {
  background: #000080;
  opacity: 0.8;
  color: white;
  min-width: 100% !important;
}

nav.scrolled a {
  color: white;
}

nav.przyklejenie {
  position: sticky;
  z-index: 1200;
}

.bg{
  background-color: white;
  transition: all 500ms linear;
}

.bg.scrolled{
  background-color:rgba(0, 0, 128, 0.87);
  transition: all 500ms linear;
  
}

@media(min-width:1745px){
  .belka-nav {
    background-color: white;
    z-index: 1301;
  }
}

/*slider*/

@media screen and (max-width: 768px) {
  .bg-transparent {
    background: #000 !important;
  }
}
.carousel-caption {
  padding-bottom: 0;
  padding-top: 0;
  bottom: 0;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-item {
  max-height: 700px;
  object-fit: cover;
  z-index: 1;
}

/*title-page*/
.first-block-background{
  background-color: rgb(201, 90, 0);
}

.cont-block-middle{
  background-color: rgb(221, 104, 8) ;
  color:white;
  padding: 30px;
}

.cont-block{
  color:white;
  padding:30px;
}

.icon-text{
  padding:0px 30px;
}

/*ikony*/

div {
  --color-bright: #ffffff;
  --color-orange: #ffffff;
  background: var(--body-background-color);
}


#contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
}

#contact-info .links {
  display: flex;
  min-width: 100%;
  justify-content: space-between;
}
@media(max-width:990px){
  #contact-info .links {
    display: block;
    min-width: 100%;
    justify-content: space-between;
  }

  .cont-block-middle{
    width:100%;
    text-align: center;
  }

  .cont-block{
    width:100%;
    text-align: center;
  }

  #contact-info .links a div{
    margin-left: auto;
    margin-right: auto;
  }
  .medium-icon-container div{
    text-align: center !important;
  }

  .medium-icon p{
    display: inherit !important;
  }
}

@media(min-width:991px){
  #contact-info .links a{
    float:left;
  }

  .icon-text-container{
    float:left;
  }
  .first-block-background .row {
    max-width: 1200px  !important;
    margin-left:auto;
    margin-right: auto;
  }
}

#contact-info a {
  text-decoration: none;
  color: var(--color-bright);
  font-size: 2rem;
}

#contact-info .links a {
  display: block;
  position: relative;
}
#contact-info .links a::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  transition: all .3s;
}
#contact-info .links a:hover::after {
  --transformed-box-diagonal-length: 164%;
  width: var(--transformed-box-diagonal-length);
  left: calc( (100% - var(--transformed-box-diagonal-length)) / 2 );
}

#contact-info .links a div {
  position: relative;
  display: block;
  width: 55px; 
  height: 55px;
  transition: transform .3s;
}

#contact-info .links a:hover div {
  transform: rotate(-35deg) skew(20deg);
}

.links a span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  /* transition-property: opacity, transform;
  transition-duration: 0.5s; */
  border: 1px solid var(--color-bright);
  /* border-color: var(--color-bright); */
  border-radius: 5px;
}

.links a span:nth-child(5) {
  display: flex; 
  justify-content: center;
  align-items: center;
  position: relative;
}

.links a:hover span:nth-child(5) {
  transform: translate(20px, -20px);
  opacity: 1;
}
.links a:hover span:nth-child(4) {
  transform: translate(15px, -15px);
  opacity: .8;
}
.links a:hover span:nth-child(3) {
  transform: translate(10px, -10px);
  opacity: .6;
}
.links a:hover span:nth-child(2) {
  transform: translate(5px, -5px);
  opacity: .4;
}
.links a:hover span:nth-child(1) {
  opacity: .2;
}

.links a.orange-border span {
  border-color: var(--color-orange);
}
.links a.orange-border span:nth-child(5) {
  border-color: var(--color-bright);
}

/*index-main-content*/

.main-content{
  text-align: justify;
}

.h1seo{
  text-align: center;
  padding:20px;
}

.h1seo::after{
  content: '';
  height: 3px;
  width: 60px;
  background: #2424af;
  display: block;
  bottom: 0px;
  margin:5px;
  padding:0px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.index-h-after::after{
  content: '';
  height: 3px;
  width: 60px;
  background: #2424af;
  display: block;
  bottom: 0px;
  margin:0px;
  padding:0px;
  position: relative;
}

.index-h-after{
  padding:10px 0px;
}

/*ikony-medium*/
.medium-icon-container div{
  text-align: left;
  margin: 40px;
  margin-left:50px;
}

.medium-icon-container div i{
  background: #fc7b02;
  border-radius: 50%;
  height: 70px;
  margin: 0 10px;
  width: 70px;
  text-align: center;
  font-size: 30px;
}

.medium-icon i{
  display: inline-block;
}

.medium-icon p{
  display: inline-block;
}

.medium-icon-container div i:hover {
  animation: transform 0.5s forwards, shadow 1s forwards;
  -ms-animation: transform 0.5s forwards, shadow 1s forwards;
  -moz-animation: transform 0.5s forwards, shadow 1s forwards;
  -webkit-animation: transform 0.5s forwards, shadow 1s forwards;
}

.medium-icon-container div i:hover {
  background: #fc5e02;
}
.medium-icon-container div i:before {
  color: #fff;
  display: block;
  line-height: 70px;
  text-align: center;
}

@-webkit-keyframes shadow {
  from {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
  }
  to {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}
@keyframes shadow {
  from {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
  }
  to {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}

.bg-blue-1{
  background-color: #000080;
  min-height: 100px;
  height: auto;
}

.index-slide-blue{
  color:white;
  font-size:25px;
  text-align: center;
  padding:60px;
  margin:0;
}

.slide-button-container{
  text-align: center;
  padding:60px;
}

.index-slide-button{
  color:white;
  font-size:20px;
  text-align: center;
  padding:12px;
  margin:10px;
  background-color: #fc5e02;
  border:1px solid white;
  border-radius: 6px;
  transition: all 0.3s ease-in;
}

.index-slide-button:hover{
  color:#fc5e02;
  font-size:20px;
  text-align: center;
  padding:12px;
  margin:10px;
  background-color: white;
  border:1px solid #fc5e02;
  border-radius: 6px;
}

.index-slide-blue::after{
  content: '';
  height: 3px;
  width: 60px;
  background: white;
  display: block;
  bottom: 0px;
  margin:5px;
  padding:0px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.bg-photo{
  background-image: url(".../img/slider1.jpg");
  min-height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-position:center;
  background-attachment: fixed;
}